<script src="js/calc.js"></script>
Ready to have some FUN with MATH?

<form method="post" action="post_ops" id="inputdata">
	<input type="number" name="operand1" id="operand1">Enter a number<br>
	<input type="number" name="operand2" id="operand2">Enter another number<br>
	<select name="operator" id="operator">
		<option value = "+"> + (addition)</option>
		<option value = "-"> - (subtraction)</option>
		<option value = "*"> * (multiplication)</option>
		<option value = "/"> / (division)</option>
	</select>
	<button type="button" onclick="docalc()">DO THE MATH!</button>
</form>